<section class="page-title page-title-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0">Project Title</h3>
      </div>
      <div class="col-md-6 text-right">
        <ol class="breadcrumb breadcrumb-2">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li class="active">Project Title</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="pt0 pb40">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6 mb-xs-24">
        <span>Client:</span>
        <h6 class="uppercase mb0">Medium Rare Inc.</h6>
      </div>
      <div class="col-sm-3 col-xs-6 mb-xs-24">
        <span>Our Role:</span>
        <h6 class="uppercase mb0">Design, Consultation</h6>
      </div>
      <div class="col-sm-3 col-xs-6 mb-xs-24">
        <span>Turnaround:</span>
        <h6 class="uppercase mb0">May - July</h6>
      </div>
      <div class="col-sm-3 col-xs-6 mb-xs-24">
        <span>Category:</span>
        <h6 class="uppercase mb0">Rebranding</h6>
      </div>
    </div>
  </div>
</section>
<section class="pt0 pb0">
  <%= image_tag 'project-case-study-1.jpg', :alt => 'Feature Image', :class => 'col-xs-12 p0' %>
</section>
<section>
  <div class="container">
    <div class="row mb64 mb-xs-24">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h2 class="uppercase mb16">The Brief</h2>
        <p class="lead mb48">A short description to add some contetxt.</p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
      </div>
    </div>
    <div class="row mb80 mb-xs-40">
      <div class="col-sm-6 mb-xs-16">
        <%= image_tag 'project-case-study-2.jpg', :alt => 'Project Image' %>
      </div>
      <div class="col-sm-6">
        <%= image_tag 'project-case-study-3.jpg', :alt => 'Project Image' %>
      </div>
    </div>
    <div class="row mb80 mb-xs-40">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h6 class="uppercase">An Additional Description</h6>
        <p class="lead">
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
        </p>
      </div>
    </div>
    <div class="row mb80 mb-xs-24">
      <div class="col-sm-12 text-center">
        <%= image_tag 'project-case-study-4.jpg', :alt => 'Project Image' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h2 class="uppercase mb16">The Result</h2>
        <p class="lead mb48">An 80% increase in sales for Medium Rare.</p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
      </div>
    </div>
  </div>
</section>
