<p>Someone awaiting your response</p>
<br />
<p><strong>Name: </strong><%= @visitor_name %></p>
<p><strong>Email: </strong><%= @visitor_email %></p>
<p><strong>Message: </strong><%= @visitor_message %></p>
