<p>Hello,</p>
<br />
<p>Thank you for contacting us, we've received your message and we will get to you shortly, please stay tuned. Below is your message details.</p>
<p><strong>Name: </strong><%= @visitor_name %></p>
<p><strong>Email: </strong><%= @visitor_email %></p>
<p><strong>Message: </strong><%= @visitor_message %></p>
<br />
<p>Regards,<br />Growantlers</p>
