/*
 *= require ./application/bootstrap.css
 *= require ./application/themify-icons.css
 *= require ./application/flexslider.css
 *= require ./application/lightbox.min.css
 *= require ./application/ytplayer.css
 *= require ./application/theme-startup.css
 *= require ./application/custom.css
 *= require ./application/font-roboto.css
 */

.overlay:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.3;
  z-index: 2;
}

.bg-primary {
  background: transparent;
}

.featured-icon {
  width: 32px;
}
